data/wheel/empty_label
data/wheel/img/*.jpg
data/wheel/img_vis
data/wheel/label/*.xml
data/wheel/new_img
data/wheel/new_label
data/wheel/video_test

*.pyc
code/**/.ipynb_checkpoints
**/.ipynb_checkpoints
**/.DS_Store